In [7]:
i=1
while i<=10:
    print("Welcome")
    i=i+1
print("End of loop")

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
End of loop

In [10]:
"""
The range() function returns a sequence of numbers, 
starting from 0 by default, and increments by 1 (by default),
and stops before a specified number
"""
range(5)

range(0, 5)

In [3]:
for i in range(10):
    print("Welcome")
print("End of code")

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
End of code

In [13]:
for i in range(10,100):
    print(i)
print("End of code")

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
End of code

In [16]:
#range(start, stop, step)
for i in range(1,11,3):
    print(i)
print("EOC")

1
4
7
10
EOC

In [12]:
#range(start, stop, step)
for i in range(10,1,-1):
    print(i)
print("EOC")

10
9
8
7
6
5
4
3
2
EOC

In [4]:
lst=[11,22,33,44,55,66,77,88,99,100]

In [5]:
len(lst)

10

In [6]:
i=0
while i<len(lst):  
    print(lst[i])  
    i+=1

11
22
33
44
55
66
77
88
99
100

In [17]:
lst=[11,22,33,44,55,66,77,88,99,100]
for i in lst:  
    print(i)

11
22
33
44
55
66
77
88
99
100

In [9]:
lst[0]**2
lst[1]**2
lst[2]**2

lst[9]**2

121

In [18]:
for i in lst: 
    squared_value=i**2
    print(squared_value)

121
484
1089
1936
3025
4356
5929
7744
9801
10000

In [20]:
for i in lst: 
    squared_value=i**2
    print("Square of ",i , " is ", squared_value)

Square of  11  is  121
Square of  22  is  484
Square of  33  is  1089
Square of  44  is  1936
Square of  55  is  3025
Square of  66  is  4356
Square of  77  is  5929
Square of  88  is  7744
Square of  99  is  9801
Square of  100  is  10000

In [21]:
for i in lst:
    if i%2==0:
        print(i," is even number")

22  is even number
44  is even number
66  is even number
88  is even number
100  is even number

In [ ]:
#Print odd numbers from the list using for loop

In [18]:
names=['samson','joy','cynthiya','amanda']
print(names)
for name in names:
    print(name.upper())

['samson', 'joy', 'cynthiya', 'amanda']
SAMSON
JOY
CYNTHIYA
AMANDA

In [19]:
names=['samson','joy','cynthiya','amanda']
print(names)
for name in names:
    print(name.upper(),' - ',len(name))

['samson', 'joy', 'cynthiya', 'amanda']
SAMSON  -  6
JOY  -  3
CYNTHIYA  -  8
AMANDA  -  6

In [5]:
t=(1,3,5,7,9,11)

In [7]:
for i in t:
    print(i)

1
3
5
7
9
11

In [22]:
population={"SA":60,"NG":20,"IN":135}

In [24]:
for i in population:
    print(i)

SA
NG
IN

In [26]:
for i in population.values():
    print(i)

60
20
135

In [27]:
for i,j in population.items():
    print(i,j)

SA 60
NG 20
IN 135

In [12]:
#Task - Modify above code to get following output
#Population of ___ is ____

dict_values([2, 4, 6, 8, 10])

In [23]:
#Guess the output
lst=[3,1,7,5,2,8,9]
even_lst=[]
odd_lst=[] 
for i in lst: 
    if i%2==0:
        even_lst.append(i)
    else:
        odd_lst.append(i)
print(even_lst)
print(odd_lst)

[22, 44, 66, 88, 100]
[11, 33, 55, 77, 99]

In [29]:
#Guess the output
for i in range(3):
    number=int(input("Enter a number "))
    if number%2==0:
        print(number, "is an even number")
    else:
        print(number, "is an odd number")

Enter a number 1
1 is an odd number
Enter a number 2
2 is an even number
Enter a number 3
3 is an odd number

In [20]:
#Guess the output
for i in range(3):
    p=int(input("Enter p "))
    n=int(input("Enter n "))
    r=int(input("Enter r "))
    si=(p*n*r)/100
    print("SI = ",si)

Enter p 1000
Enter n 5
Enter r 4
SI =  200.0
Enter p 2000
Enter n 4
Enter r 2
SI =  160.0
Enter p 15423
Enter n 4
Enter r 5
SI =  3084.6